@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-color: hsl(0, 0%, 8%);

}

.container {
    width: 26%;
    height: 560px;
    margin: 15px auto;
    padding-top: 10px;
    border-radius: 7px;
    background-color: hsl(0, 0%, 12%);
}

.box-container {
    padding-top: 25px;
    text-align: center;

}

.box-container img {
    width: 23%;
    border-radius: 50px;
}

.box-container h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-top: 20px;
}

.box-container .item-country {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    margin-top: 10px;
    font-size: 14px;
}

.box-container p {
    margin-top: 25px;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.container-btn button {
    width: 81%;
    height: 40px;
    margin-top: 12px;
    font-weight: 600;
    border-radius: 7px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: 0.5s;
}

.container-btn button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

.attribution {
    font-size: 16px;
    text-align: center;
    color: hsl(75, 94%, 57%);
}

.attribution a {
    color:hsl(0, 0%, 100%);
}

/* MOBILE */
@media(max-width:475px) {
    .container {
        width: 77%;

    }
}